<div >

    <div flex layout-gt-md="row" layout="column">
        <md-card flex="50">
            <md-card-content>
               <p>
                   Checkout my profile at these links.
                   <ul>
                        <li> <a href="http://bit.ly/VENCKI" target="_blank">Website</a></li>
                        <li><a href="http://twitter.com/kvkirthy" target="_blank">Twitter</a></li>
                        <li><a href="http://github.com/kvkirthy" target="_blank">Github</a></li>
                        <li><a href="https://www.linkedin.com/profile/view?id=106607765&trk=hp-identity-photo" target="_blank">LinkedIn</a></li>
                    </ul>
               </p>
            </md-card-content>
            <md-card-footer flex layout="row" layout-align="end end">
                <h3>V Keerti Kotaru</h3>
            </md-card-footer>
        </md-card>
        <md-card flex="45">
            <md-card-content>
                <p>
                    Checkout ngHyderabad meetup group profile at these links
                    <ul>
                        <li>
                            <a href="http://www.meetup.com/ngHyderabad" target="_blank">Meetup</a>
                        </li>
                        <li>
                            <a href="http://twitter.com/ngHyderabad" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="http://facebook.com/ngHyderabad" target="_blank">Facebook</a>
                        </li>
                    </ul>
                </p>
            </md-card-content>
            <md-card-footer flex layout="row" layout-align="end end">
                <h3>ngHyderabad Meetup Group</h3>
            </md-card-footer>
        </md-card>
    </div>


</div>