<md-bottom-sheet layout="column">
     <strong>Actions</strong>
    <div layout="row">
        <md-button ng-click="showToast('You will have it right away!')">
            <ng-md-icon icon="attach_money" size="24" style="fill:black" layout="row" layout-align="center center"> </ng-md-icon>
            Buy
        </md-button>
        <md-button ng-click="showToast('I agree, it\'s delicious ')">
            <ng-md-icon icon="favorite" size="24" style="fill:black" layout="row" layout-align="center center"> </ng-md-icon>
            Favorite
        </md-button>
        <md-button ng-click="showToast('Will share it on Social Network')">
            <ng-md-icon icon="share" size="24" style="fill:black" layout="row" layout-align="center center"> </ng-md-icon>
            Share
        </md-button>
    </div>


</md-bottom-sheet>