<div>
    <md-toolbar >
        <div class="md-toolbar-tools" layout="row" >
            <md-button ng-show="isVisibleOnCurrentScreenSize" ng-click="toggleSideNav()" class="md-icon-button" aria-label="Settings" flex="5" >
                <ng-md-icon icon="menu" size="24" style="fill:white" layout="row" layout-align="center center"></ng-md-icon>
            </md-button>
            <h2>
                AngularJS Material Seed Project
            </h2>
        </div>
    </md-toolbar>

    <md-content flex layout="row" >
        <md-sidenav flex  md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')">
            <section flex >
                <md-content flex>

                <md-list flex layout="column" >
                    <md-list-item>
                        <md-button ui-sref="home.recipeList" flex>Recipes</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button ui-sref="home.sampleForm" flex>Form Sample</md-button>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <md-button flex>Getting Started</md-button>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <md-button flex>About</md-button>
                    </md-list-item>
                </md-list>
                </md-content>

            </section>
        </md-sidenav>

        <div layout-padding flex id="content">
            <div ui-view></div>
        </div>
    </md-content>
</div>