 <div layout="column">
    <md-content layout-padding layout-sm="column">
        <form name="userForm">
            <div layout layout-padding-gt-sm layout-sm="column">
                <md-input-container layout layout-align-gt-sm="start start"  flex-gt-sm="30" flex>
                    <label>Selected Dish</label>
                    <input value="Pepparoni Pizza" >
                </md-input-container>
                <div layout="row" layout-align-gt-sm="start center" flex-gt-sm="50" flex>
                    <label flex="25">Spice Level</label>
                    <md-slider flex="70" min="1" max="10" aria-label="Spicy?" ng-model="spice" class="md-primary">
                    </md-slider>
                    <span flex="5" layout layout-align="center center">{{spice}}</span>
                </div>
                <md-input-container layout layout-align-gt-sm="center end"  flex>
                    <label>Time</label>
                    <input type="time" >
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First name</label>
                    <input >
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input>
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Address</label>
                <input>
            </md-input-container>
            <md-input-container md-no-float>
                <input placeholder="Address 2">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City</label>
                    <input >
                </md-input-container>
                <md-select layout-align="center center" flex-sm="100" placeholder="State" flex ng-model="dummy">
                    <md-option>AP</md-option>
                    <md-option>TS</md-option>
                    <md-option>TN</md-option>
                    <md-option>KN</md-option>
                </md-select>
                <md-input-container flex>
                    <label>Postal Code</label>
                    <input >
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Additional Comments</label>
                <textarea columns="1" ng-model="value1" md-maxlength="150"></textarea>
            </md-input-container>
        </form>
    </md-content>
    <section layout="row" layout-sm="column">
        <md-button class="md-raised md-primary">Submit</md-button>
        <md-button class="md-raised md-warn">Clear Form</md-button>
    </section>
 </div>

