 <div layout="column">
    <md-content md-theme="docs-dark" layout-padding layout-sm="column">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container style="width:80%">
                    <label>Selected Dish</label>
                    <input value="Pepparoni Pizza" >
                </md-input-container>
                <md-input-container flex>
                    <label>Schedule Delivery</label>
                    <input type="time" >
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First name</label>
                    <input >
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input>
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Address</label>
                <input>
            </md-input-container>
            <md-input-container md-no-float>
                <input placeholder="Address 2">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City</label>
                    <input >
                </md-input-container>
                <md-input-container flex>
                    <label>State</label>
                    <input >
                </md-input-container>
                <md-input-container flex>
                    <label>Postal Code</label>
                    <input >
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Additional Comments</label>
                <textarea columns="1" ng-model="value1" md-maxlength="150"></textarea>
            </md-input-container>


        </form>
    </md-content>
    <section layout="row" layout-sm="column">
        <md-button class="md-raised md-primary">Submit</md-button>
        <md-button class="md-raised md-warn">Clear Form</md-button>
    </section>
 </div>

